@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
 /* Mobile */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    display: flex;
    padding: 5px 5px 0 5px;
    background-color: black; 
}

header input {
    display: none; 
}

header input:checked ~ nav {
    top: 54px;
}

header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10%;
    padding-bottom: 5px;
    position: absolute;
    top: -100%;
    left: 0%;
    background-color: black;

    transition: top 1.2s;
}

header nav a{
    color: white;
    text-align: center;
    text-decoration: none;
}

header nav label {
    color: orangered;
    text-align: right;
}

header nav a:hover {
    background-color: #fe3500;
    border-radius: 5px;
} 

header img {
    height: 50px;
    margin-left: 90px;
}   

header i {
    color: white;
    font-size: 30px;
}

main {
    padding: 0 10px;
}

#principal {
    display: flex;
    flex-direction: column;
    border-bottom: 2px dotted grey;
    margin-bottom: 25px;
}

figure img {
    width: 90vw;
    margin: 10px 0;
}

article {
    position: relative;
}

article h2 {
    color: orangered;
    font-size: 30px;
}

article p {
    color: grey;
}

article a {
    display: flex;
    margin: 20px 0;
    padding: 5px 10px;
    width: 90px;
    color: white;
    background-color: orangered;
    text-decoration: none;
    border-radius: 5px;
}

.quadrados {
    border: 1px solid grey;
}

article h3 {
    background-color: orangered;
    color: white;
    padding: 4px;
}

article img {
  float: left;
  margin: 5px 5px 10px 5px;
}

#meio {
    display: flex;
    flex-direction: column;
}

.p {
   margin: 10px 5px;
}

footer {
    margin-top: 30px;
    background-color: black;
}

footer p {
    color: grey;
    text-align: center;
    padding: 0 0 10px 0;
}

footer img {
    position: relative;
    left: 20px;
    bottom: 20px;
    margin-top: 5px;
}

/* Ipad - Tablet */

@media screen and (min-width: 768px) {

    header {
        height: 100px;
    }

    header img {
        height: 100px;
        margin-left: 250px;
    }

    header i {
        font-size: 50px;
    }

    header nav a{
        font-size: 30px;
    }

    header nav label {
        font-size: 40px;
    }

    figure img {
        width: 70vw;
        margin-left: 80px;
    }

    article h2 {
        font-size: 50px;
    }

    article p {
        font-size: 25px;
    }

    article a {
        width: 140px;
        font-size: 28px;
    }

    article h3 {
        font-size: 30px;
    }
}

/* Desktop */

@media screen and (min-width: 992px) {
    header i {
        display: none !important;
    }

    header {
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 10%;
    }

    header img {
        margin: 0;
        position: absolute;
    }

    header nav {
        position: static;
        flex-direction: row;
        width: auto;
    }
    
    header nav label {
        display: none;
    }

    header nav a {
        width: 90px;
        text-align: center;
        padding: 40px 10px 10px 10px;
        color: white;
        text-decoration: none;
        font-size: 15px;
    }

    header nav a:hover {
        background-color: #fe3500;
        border-radius: 0 0 15px 15px;
    } 

    figure img {
        width: 35vw;
        margin: 30px 100px 30px 0;
    }

    main {
        padding: 0 120px;
    }
    
    #principal {
        flex-direction: row;
    }

    #texto1 {
        margin: 40px 30px 0 0;
    }

    h2 {
        margin-bottom: 30px;
    }

    #meio {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .quadrados {
        width: 30%;
    }
}

/* Telas largas */

@media screen and (min-width: 1800px) {
    header, main, footer {
        max-width: 1850px;
        margin: 0 auto;
    }

    figure img {
        max-width: 900px;;
    }

    
}


