@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
 /* Mobile */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    display: flex;
    padding: 5px 5px 0 5px;
    background-color: black; 
}

header nav {
    display: none;
}

header img {
    height: 50px;
    margin-left: 90px;
}   

header i {
    color: white;
    font-size: 30px;
}

section {
    margin: 0 10px;
}

#principal {
    display: flex;
    flex-direction: column;
    border-bottom: 2px dotted grey;
    margin-bottom: 25px;
}

figure img {
    width: 90vw;
    margin: 10px 0;
}

article {
    position: relative;
}

article h2 {
    color: orangered;
    font-size: 30px;
}

article p {
    color: grey;
}

article a {
    display: flex;
    margin: 20px 0;
    padding: 5px 10px;
    width: 90px;
    color: white;
    background-color: orangered;
    text-decoration: none;
    border-radius: 5px;
}

.quadrados {
    border: 1px solid grey;
}

article h3 {
    background-color: orangered;
    color: white;
    padding: 4px;
}

article img {
  float: left;
  margin: 5px 5px 10px 5px;
}

#meio {
    display: flex;
    flex-direction: column;
}

.p {
   margin: 10px 5px;
}

footer {
    margin-top: 30px;
    background-color: black;
}

footer p {
    color: grey;
    text-align: center;
    padding: 0 0 10px 0;
}

footer img {
    position: relative;
    left: 20px;
    bottom: 20px;
    margin-top: 5px;
}

/* Ipad - Tablet */

@media screen and (min-width: 768px) {

    header {
        height: 100px;
    }

    header img {
        height: 100px;
        margin-left: 250px;
    }

    header i {
        font-size: 50px;
    }

    figure img {
        width: 70vw;
        margin-left: 80px;
    }

    article h2 {
        font-size: 50px;
    }

    article p {
        font-size: 25px;
    }

    article a {
        width: 140px;
        font-size: 28px;
    }

    article h3 {
        font-size: 30px;
    }
}

@media screen and (min-width: 992px) {
    header i {
        text-decoration: transparent;
    }

    header {
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 10%;
    }

    header nav {
        display: flex;
        height: 9vh;
    }
        
    header nav a {
        width: 90px;
        text-align: center;
        padding: 40px 10px 10px 10px;
        color: white;
        text-decoration: none;
    }

    header nav a:hover {
        background-color: #fe3500;
        border-radius: 0 0 15px 15px;
    } 

    figure img {
        width: 30vw;
        margin: 30px 30px 30px 0;
    }

    section {
        padding: 0 120px;
    }
    
    #principal {
        flex-direction: row;
    }

    #p1 {
        
    }
}