@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 0 10%;

    background-color: black;
}

header img {
    height: 9vh;
    margin-top: 5px;
}

header nav {
    display: flex;
    height: 9vh;
}

header nav a {
    width: 90px;
    text-align: center;
    padding: 40px 10px 10px 10px;
    color: white;
    text-decoration: none;
}

/* pseudo-classe (ação específica pra tag - */

header nav a:hover {
    background-color: #fe3500;
    border-radius: 0 0 15px 15px;
}